ansible==2.9.9
apache-libcloud==3.0.0
appdirs==1.4.4
argcomplete==1.8.1
asn1crypto==0.24.0
awscli==1.18.111
bcrypt==3.2.0
beautifulsoup4==4.8.0
blinker==1.4
botocore==1.17.22
bottle==0.12.15
Brlapi==0.7.0
Cerberus==1.3.1
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
chrome-gnome-shell==0.0.0
Click==7.0
colorama==0.4.3
command-not-found==0.3
configobj==5.0.6
configparser==5.0.1
crayons==0.4.0
cryptography==2.7
cupshelpers==1.0
dbus-python==1.2.16
defer==1.0.6
distlib==0.3.1
distro==1.5.0
distro-info===0.23ubuntu1
dnspython==1.16.0
docutils==0.16
ecdsa==0.15
Eve==0.9.2
Events==0.3
filelock==3.0.12
Flask==1.1.1
Flask-JWT==0.3.2
Flask-Login==0.4.1
future==0.17.1
getrpimodel==0.1.19
gyp==0.1
h8mail==2.5.4
hidpidaemon==18.4.6
html5lib==1.1
httplib2==0.18.1
idna==2.8
itsdangerous==1.1.0
jeepney==0.4.3
Jinja2==2.10.1
jmespath==0.10.0
jsonschema==2.6.0
kernelstub==3.1.4
keyring==21.3.0
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.5
lockfile==0.12.2
louis==3.14.0
-e git+https://github.com/AdaptiveScale/lxdui.git@288e8b001a41e5e4040afd6e5ce511bf57ac4005#egg=LXDUI
macaroonbakery==1.3.1
MarkupSafe==1.1.1
marshmallow==3.7.1
mechanize==0.4.5
mh-z19==0.6.3
netaddr==0.7.19
netifaces==0.10.4
nFreezer==0.0.1
ntlm-auth==1.4.0
oauthlib==3.1.0
olefile==0.46
paramiko==2.7.2
pbr==5.5.1
Pillow==7.2.0
platformio==4.3.4
pop-transition==1.0.1
protobuf==3.12.3
psutil==5.6.6
ptyprocess==0.7.0
pyasn1==0.4.8
pycairo==1.16.2
pycparser==2.19
pycrypto==2.6.1
pycryptodome==3.9.9
pycryptodomex==3.9.7
pycups==2.0.1
pydbus==0.6.0
pyelftools==0.26
Pygments==2.3.1
PyGObject==3.38.0
PyJWT==1.4.2
pykerberos==1.1.14
pylxd==2.2.7
pymacaroons==0.13.0
pymongo==3.9.0
PyNaCl==1.4.0
pyOpenSSL==17.5.0
pyperclip==1.8.1
pyRFC3339==1.1
pyserial==3.4
pysftp==0.2.9
python-apt==2.1.3+ubuntu1.3
python-dateutil==2.8.1
python-debian==0.1.37
python-telegram-bot==11.1.0
python-xlib==0.27
pytz==2020.1
pywinrm==0.3.0
pyxdg==0.26
PyYAML==5.3.1
repolib==1.5.2
repoman==1.4.0
requests==2.22.0
requests-kerberos==0.12.0
requests-ntlm==1.1.0
requests-toolbelt==0.9.1
requests-unixsocket==0.2.0
roman==2.0.0
rsa==4.0
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
s3transfer==0.3.3
schedule==0.6.0
screen-resolution-extra==0.0.0
SecretStorage==3.1.2
selenium==3.141.0
selinux==3.1
semantic-version==2.8.4
sessioninstaller==0.0.0
simplejson==3.16.0
six==1.12.0
SkPy==0.10.2
soupsieve==1.9.2
ssh-import-id==5.10
systemd-python==234
tabulate==0.8.6
terminado==0.8.1
tornado==5.0.2
tornado-xstatic==0.2
ubuntu-advantage-tools==24.4
ubuntu-drivers-common==0.0.0
ufw==0.36
urllib3==1.25.3
virtualenv==20.4.0
wadllib==1.3.4
webdriver-manager==3.2.2
webencodings==0.5.1
Werkzeug==0.15.4
ws4py==0.5.1
xkit==0.0.0
xmltodict==0.12.0
XStatic==1.0.1
XStatic-term.js==0.0.7.0
